*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    transition: 0.5;
}

.container{

    text-align: justify !important;
    display: table;

}

.nav-wrapper{
    background-color: yellow;
    position: sticky !important;
}
nav ul li a{
    color: #000000 !important;
    font-size: 25px;

}

nav ul li a:hover{
    transform: scale(1.1);

}

body{
    background: #000000;
}

.principal{
    font-size: 100px;
    text-align: center;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-color: crimson;
    text-decoration-line: underline;
    color: white;
}

p{
    font-size: 22px;
    color: white;
    
}

.imgprnc{
    display: table;
    margin: auto;
    width: 400px;
    height: 400px;
    padding-top: 3%;
}

.img1{
    display: table;
    margin: auto;
    width: 600px;
    height: 400px;
    padding-top: 3%;
}

img:hover{
    transform: scale(1.1);
}

h6{
    font-size: 1px;
    color: rgb(0, 0, 0);
}

h2{
    font-style: oblique;
    text-decoration-color: crimson;
    text-decoration-line: underline;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4{
    font-style: oblique;
    text-decoration-color: crimson;
    text-decoration-line: underline;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page-footer{
    background-color: yellow;
    position: sticky !important;

}

footer a{
    color: rgb(0, 0, 0);
    font-style: oblique;
}

